# Temporary until new patterns are migrated over.
**/.*.tmp.*
**/.*.tmp

# Python.
**/.ipynb_checkpoints/
**/__pycache__/
**/*.egg-info/
**/.venv/
**/.data/

# Symbolic links to WSL 2 virtualenvs are not directories.
**/.venv

# C++.
**/.bin/
**/.obj/

# General.
**/.DS_Store
