# Python.
**/.ipynb_checkpoints/
**/__pycache__/
**/*.egg-info/
**/.venv/
**/.data/

# Symbolic links to WSL 2 virtualenvs are not directories.
**/.venv

# C++.
**/bin/
**/obj/

# General.
**/.DS_Store

# Sometimes Juice is started in the wrong directory.
**/juice.log
