# Python.
**/.ipynb_checkpoints/
**/__pycache__/
**/*.egg-info/
**/.venv/
**/.data/

# Symbolic links to WSL 2 virtualenvs are not directories.
**/.venv

# C++.
**/bin/
**/obj/
include/version.hpp

# General.
**/.DS_Store
