# For Python 3.8.10 on WSL 2.

-r requirements/general.txt
-r requirements/style.txt
-r requirements/jupyter.txt
-r requirements/scientific-computing.txt
-r requirements/ml-utility.txt
-r requirements/tensorflow.txt
-r requirements/pytorch.txt
-r requirements/jax.txt
-r requirements/utulek.txt
