# For Python 3.8.10 on WSL 2 with CUDA.
# Requires CUDA 11.1, cuDNN 8.1.1, and Windows Insiders WSL 2 (tested on 22449.1000). Supports compute capability up to 8.6 (tested on 5.0 (GTX 960M)).

-r requirements/general.txt
-r requirements/style.txt
-r requirements/jupyter.txt
-r requirements/scientific-computing.txt
-r requirements/ml-utility.txt
-r requirements/tensorflow.txt
-r requirements/pytorch.cuda.txt
-r requirements/jax.cuda.txt
-r requirements/utulek.txt
